In [2]:
#Import Pandas
import pandas as pd 
import os

In [5]:
#Name Path
file = "../pandas_challenge/purchase_data.csv"

pymoli_data_df = pd.read_csv(file)


pymoli_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
total_players = pymoli_data_df["SN"].nunique()
#print(total_players)
total_players_df= pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

In [7]:
item_list = pymoli_data_df["Item ID"].nunique()
average_price = pymoli_data_df["Price"].mean()
num_purchase = pymoli_data_df["Purchase ID"].count()
total_rev = pymoli_data_df["Price"].sum()

purchase_analysis_df = pd.DataFrame({"Number of Unique Items": item_list, "Average Price": average_price, "Number of Purchases": num_purchase, "Total Revenue": total_rev},index=[0])

purchase_analysis_df.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [30]:
cleaned_male_df= pymoli_data_df.drop_duplicates(subset=['SN'])
male_df= cleaned_male_df.loc[pymoli_data_df["Gender"]=="Male", :]
male_count = len(male_df)


male_percent= (male_count/total_players)*100

male_analysis_df = pd.DataFrame({"Total": male_count, "Percentage of Players": male_percent},index=["Male"])

In [36]:
cleaned_female_df= pymoli_data_df.drop_duplicates(subset=['SN'])
female_df = cleaned_female_df.loc[pymoli_data_df["Gender"]=="Female",:]
female_count=  len(female_df) 
female_percent = (female_count/total_players)*100

female_analysis_df = pd.DataFrame({"Total": female_count, "Percentage of Players": female_percent},index=["Female"])

In [37]:
cleaned_other_df= pymoli_data_df.drop_duplicates(subset=['SN'])
other_df=cleaned_other_df.loc[pymoli_data_df["Gender"]=="Other / Non-Disclosed",:]
other_count = len(other_df)
other_percent = (other_count/total_players)*100

other_analysis_df = pd.DataFrame({"Total": other_count, "Percentage of Players": other_percent},index=["Other"])
other_analysis_df

       Total  Percentage of Players
Other     11               1.909722

In [38]:


male_female_dem_df = pd.concat([male_analysis_df, female_analysis_df])

gender_dem_df = pd.concat([male_female_dem_df, other_analysis_df])

gender_dem_df.head()

        Total  Percentage of Players
Male      484              84.027778
Female     81              14.062500
Other      11               1.909722

In [40]:
male_count
male_average_price = female_df["Price"].mean()
(male_average_price)
male_total_value = male_df["Price"].sum()
male_total_value
male_average_by_person = male_total_value/male_count

gender_analysis_male_df = pd.DataFrame({"Purchase Count": male_count, "Average Purchase Price": male_average_price, "Total Purchase Value": male_total_value, "Avg Total Purchase per Person": male_average_by_person},index=["Male"])

In [41]:
female_count
female_average_price = female_df["Price"].mean()
(female_average_price)
female_total_value = female_df["Price"].sum()
female_total_value
female_average_by_person = female_total_value/female_count

gender_analysis_female_df = pd.DataFrame({"Purchase Count": female_count, "Average Purchase Price": female_average_price, "Total Purchase Value": female_total_value, "Avg Total Purchase per Person": female_average_by_person},index=["Female"])

In [42]:
other_count
other_average_price = other_df["Price"].mean()
(other_average_price)
other_total_value = other_df["Price"].sum()
other_total_value
other_average_by_person = other_total_value/other_count

gender_analysis_other_df= pd.DataFrame({"Purchase Count": other_count, "Average Purchase Price": other_average_price, "Total Purchase Value": other_total_value, "Avg Total Purchase per Person": other_average_by_person},index=["Other"])

In [43]:
male_female_analysis_df = pd.concat([gender_analysis_male_df, gender_analysis_female_df])

final_gender_analysis_df = pd.concat([male_female_analysis_df,gender_analysis_other_df ])

final_gender_analysis_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,484,3.165802,1474.70,3.046901
Female,81,3.165802,256.43,3.165802
Other,11,3.410909,37.52,3.410909

In [318]:
group_labels =["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
bins = [0,9,14,19,24,29,34,39,50]

Age_bins = pd.cut(pymoli_data_df["Age"], bins, labels=group_labels)

cleaned_age = pymoli_data_df.drop_duplicates(subset=['SN'])

cleaned_age = cleaned_age["Age Group"].value_counts()
cleaned_age
percent_per_age = (cleaned_age/total_players)*100

age_dem_df= pd.DataFrame({"Total Counts": cleaned_age, "Percentage of Players": percent_per_age})

age_dem_df= age_dem_df.sort_index()
age_dem_df

       Total Counts  Percentage of Players
<10              17               2.951389
10-14            22               3.819444
15-19           107              18.576389
20-24           258              44.791667
25-29            77              13.368056
30-34            52               9.027778
35-39            31               5.381944
40+              12               2.083333

In [319]:
pymoli_data_df["Age Group"] = pd.cut(pymoli_data_df["Age"], bins, labels=group_labels)

# Number of people per Group
number_purchases_by_age = pymoli_data_df["Age Group"].value_counts()

# Average spent per group
age_group_average_price = pymoli_data_df.groupby(["Age Group"]).mean()["Price"]

#total amount spent per group
age_group_sum_per_group = pymoli_data_df.groupby(["Age Group"]).sum()["Price"]

# Average spent per person in each group
average_per_person_per_group = age_group_sum_per_group/cleaned_age

purchase_analysis_age_df= pd.DataFrame({"Purchase Count": number_purchases_by_age,"Average Purchase Price": age_group_average_price, "Total Purchase Value": age_group_sum_per_group, "Avg Total Purchases per Person": average_per_person_per_group})

purchase_analysis_age_df = purchase_analysis_age_df.sort_index()
purchase_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchases per Person
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [289]:

top_spenders_purchase_count = pymoli_data_df.groupby(["SN"]).count()["Item Name"]

top_spenders_average_purchase = pymoli_data_df.groupby(["SN"]).mean()["Price"]

top_spenders_total = pymoli_data_df.groupby(["SN"]).sum()["Price"]

top_spenders_df = pd.DataFrame({"Purchase Count": top_spenders_purchase_count, 
"Average Purchase Price": top_spenders_average_purchase, "Total Purchase Value": top_spenders_total})

top_spenders_df = top_spenders_df.sort_values(by="Total Purchase Value",ascending = False)
top_spenders_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [331]:

top_items_purchase_count= pymoli_data_df.groupby(["Item ID","Item Name"]).count()["Price"]
top_items.head()

cleaned_top_items = pymoli_data_df.drop_duplicates(subset=['Item ID']).set_index(["Item ID","Item Name"])

item_price = cleaned_top_items["Price"]

item_total_purchase = pymoli_data_df.groupby(["Item ID","Item Name"]).sum()["Price"]

top_items_df = pd.DataFrame({"Purchase Count": top_items_purchase_count, 
"Item Price": item_price, "Total Purchase Value": item_total_purchase})

top_items_df= top_items_df.sort_values(by="Purchase Count",ascending = False)
top_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.88,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.19,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

In [332]:
top_profit_items_df= top_items_df.sort_values(by="Total Purchase Value",ascending = False)
top_profit_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.88,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80